*{
    margin: 0; /*deixa a margem esquerda e direita nula*/
    padding: 0 ; /*deixa a margem superior e inferior nula*/
    box-sizing: border-box; /*cria uma caixa invisivel para o corpo do site*/

}

.topo{
    background-color: rgb(238, 6, 168) /* muda a cor do topo do site*/
    ; /*cor do fundo do topo do site*/
    height: 15vh; /* tamanho do topo do site 15% da tela*/
}

.conteudo{
    background-color: rgb(1, 60, 255); /* muda a cor do fundo do site*/
    height: 85vh; /* 85% da tela*/

}